# Ignore Gradle project-specific cache directory
.gradle
.rdb

# Ignore Gradle build output directory
build
/home/caio-caminha/Documents/projects/daily-expenses-management/redis-utils/docker/volume
/redis-utils/docker/volume/data/dump.rdb
